In [1]:
import pandas as pd
import mariadb

In [43]:
def sql2csv(ds, db):
    print(f"Processing {ds} dataset for {db} database")
    conn = mariadb.connect(
    user="root",
    host="127.0.0.1",
    port=3306,
    database=f"relis_new_2_{db}",
    )
    df = pd.read_sql("SELECT bibtexKey,bibtex FROM paper WHERE paper_active=1", conn)
    df2 = pd.read_csv(f"../data/{ds}_golden.csv", sep="\t")
    df2 = df2.merge(df[['bibtexKey', 'bibtex']], left_on='key', right_on='bibtexKey', how='left')
    df2.drop(columns='bibtexKey', inplace=True)
    df2['bibtex'] = df2['bibtex'].apply(lambda x: x.strip().replace("\n", " ").replace("\r", " ").replace("\t", " ").replace("  ", " ") if pd.notnull(x) else x)
    print(df2['bibtex'].isnull().sum())
    print(df2['bibtex'].isna().sum())
    df2.to_csv(f"../data/bibtex/{ds}bibtex_golden.csv", sep="\t", index=False)
    conn.close()

In [44]:
ds_l = ['lc', 'rl4se', 'updatecollabmde', 'mpm4cps']
db_l = ['LC', 'rl4se', 'smsUpdateCollabMDE', 'CPS']

for ds, db in zip(ds_l, db_l):
    sql2csv(ds, db)
    print(f"Finished processing {ds} dataset for {db} database")

Processing lc dataset for LC database
1
1
Finished processing lc dataset for LC database
Processing rl4se dataset for rl4se database
0
0
Finished processing rl4se dataset for rl4se database
Processing updatecollabmde dataset for smsUpdateCollabMDE database

/var/folders/1k/80lx72592v35qly0pj718f9w0000gn/T/ipykernel_77164/1623203815.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT bibtexKey,bibtex FROM paper WHERE paper_active=1", conn)
/var/folders/1k/80lx72592v35qly0pj718f9w0000gn/T/ipykernel_77164/1623203815.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT bibtexKey,bibtex FROM paper WHERE paper_active=1", conn)
/var/folders/1k/80lx72592v35qly0pj718f9w0000gn/T/ipykernel_77164/1623203815.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT bibtexKey,bibtex FROM paper WHERE paper_active=1", conn)

0
0
Finished processing updatecollabmde dataset for smsUpdateCollabMDE database
Processing mpm4cps dataset for CPS database
0
0
Finished processing mpm4cps dataset for CPS database

/var/folders/1k/80lx72592v35qly0pj718f9w0000gn/T/ipykernel_77164/1623203815.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT bibtexKey,bibtex FROM paper WHERE paper_active=1", conn)

In [25]:
df.head()

        bibtexKey                                             bibtex
0       Adeli2008  @INPROCEEDINGS{Adeli2008,\n  author = {Adeli, ...
1       Ahmed2019  @INPROCEEDINGS{Ahmed2019,\n  author = {Ahmed, ...
2    Akujuobi2005  @INPROCEEDINGS{Akujuobi2005,\n  author = {Akuj...
3  Antkiewicz2006  @INPROCEEDINGS{Antkiewicz2006,\n  author = {An...
4   Barateiro2011  @INPROCEEDINGS{Barateiro2011,\n  author = {Bar...

In [26]:
df2 = pd.read_csv("../data/lc_golden.csv", sep="\t")

In [27]:
df2.head()

,project,key,title,abstract,doi,decision,mode,exclusion_criteria,reviewer_count,is_shot,is_english
0,LC,Adeli2008,Inventing the future of neurology: Integrated ...,The author has been advancing a multi-paradigm...,NaN,Excluded,conflict_resolution,EC4: The article is not in the software engine...,4,False,True
1,LC,Ahmed2019,PAS-SNP: iOS App with GWAS SNP-Disease Databas...,To efficiently fathom the wealth of genomics a...,https://dx.doi.org/10.1109/BIBM47256.2019.8983389,Excluded,new_screen,EC4: The article is not in the software engine...,4,False,True
2,LC,Akujuobi2005,Development of an automation process for ADSL ...,There are issues of interoperability with digi...,https://dx.doi.org/10.1109/SSST.2005.1460913,Excluded,new_screen,EC4: The article is not in the software engine...,4,False,True
3,LC,Antkiewicz2006,Round-Trip Engineering of Framework-Based Soft...,This research combines three distinct areas: d...,https://dx.doi.org/10.1109/ASE.2006.58,Excluded,new_screen,EC1: The article is related to DS(M)Ls but not...,4,True,True
4,LC,Barateiro2011,Integrated management of risk information,Today's competitive environment requires effec...,NaN,Excluded,conflict_resolution,EC2: The article addresses the composition of ...,4,False,True